<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>C8F3C9D0-12C2-457C-A40F-3EEE9F77B606</string>
	<key>title</key>
	<string>Holographic</string>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
